/node_modules
/public_html/hot
/public_html/storage
/public_html/js
/public_html/css
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
npm-debug.log
yarn-error.log
.env
/public_html/hot
/public_html/storage
/public/*.js
/public_html/modeler
/public_html/img
/public_html/fonts
/public_html/mix-manifest.json
tests/js/coverage
tests/coverage-report
tests/coverage-report/*
.DS_Store
/nbproject
/tests/js/coverage/*
storage/debugbar
storage/debugbar/*
storage/api-docs/api-docs.json
storage/ssl
